#! /bin/bash

if [ "$XDG_CURRENT_DESKTOP" = "GNOME" ]; then
   echo "e GNOME"
else
   # export path of scripts
   export PATH=$PATH:"/home/c-mike/CProjects/dwm_m/topBar/scripts"

   # img de fundo
   nitrogen --restore &

   # topBar
   cd /home/c-mike/CProjects/dwm_m/topBar/
   dwmblocks 2>&1 >/dev/null 
fi
