[Desktop Entry]
Encoding=UTF-8
Name=DWM
Comment=Dynamic window manager
Exec=dwm
Icon=/home/c-mike/CProjects/dwm_m/dwm.png
Type=Application
#Type=XSession
